.MuiCard-root .MuiCardContent-root {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(26, 26, 26, 0.94);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.MuiCard-root:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-width: 2px;
}

.MuiCard-root * {
    pointer-events: none;
}