.craft {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.craft table {
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px 5px 20px;
    margin: 5px;
}

.ingredients th {
    min-width: 50px;
    font-size: 21px;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid darkgreen;
}

.ingredients td {
    min-width: 50px;
    padding-right: 15px;
    font-size: 19px;
}

.recipes {
    font-size: 15px;
}

.iteminfo {
    font-size: 15px;
}