.MuiTypography-price_details, .MuiTypography-ids {
    border: 2px solid;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.MuiTypography-ids {
    font-size: 20px;
    display: inline-block;
}