.profits tbody {
    border-collapse: separate;
    border-spacing: 0;
}

.profits td, .profits th {
    width: calc(100% / 9);
    box-sizing: border-box;
}

.profits td {
    border-right: 1px dotted darkgreen;
    border-bottom: 1px solid darkgreen;
}

.profits td:last-child {
    border-right: none;
}

.profits tr:last-child td {
    border-bottom: none;
}
