.search-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px 10px 5px 20px;
    margin: 5px;
    font-size: 27px;
}

.search-label {
    margin-right: 10px;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border-bottom: 2px solid darkgreen;
}

.search-input {
    text-align: center;
    margin: 15px 5px 5px;
    font-size: 22px;
    width: 100px;
    padding: 5px 5px 5px 10px;
    min-width: 100px;
}

.search-dropdown {
    text-align: center;
    margin: 5px;
    font-size: 22px;
    width: 100px;
    padding: 5px 10px 5px 20px;
    min-width: 120px;
}