.search-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: transparent;
    color: white;
    border-top: 1px solid darkgreen;
}

.search-button {
    background-color: black;
    color: white;
    font-size: 27px;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin-left: 20px;
    min-width: 120px;
    min-height: 60px;
    background-image: url('/public/assets/search_small.png');
    background-repeat: no-repeat;
}

