:root {
    --background-hover: rgba(0, 100, 0, 0.6);
    --background-even: rgba(0, 0, 0, 0.8);
    --background-odd: rgba(20, 20, 20, 0.8);
    --background-selected: rgba(0, 75, 0, 0.4);
    --background-selected-hover: rgba(0, 125, 0, 0.6);

    --text-color: white;
}

.evenRow {
    background-color: var(--background-even);
    text-align: center;
}

.evenRow:hover {
    background-color: var(--background-hover);
}

.evenRow.Mui-selected {
    background-color: var(--background-selected);
}

.evenRow.Mui-selected:hover {
    background-color: var(--background-selected-hover);
}

.oddRow {
    background-color: var(--background-odd);
    text-align: center;
}

.oddRow:hover {
    background-color: var(--background-hover);
}

.oddRow.Mui-selected {
    background-color: var(--background-selected);
}

.oddRow.Mui-selected:hover {
    background-color: var(--background-selected-hover);
}

.dataGrid {
    color: var(--text-color);
}
