.tabs-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.tabs-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.tab {
}

.selected-tab {
}

.search-container {
}

.results-container {
}
