.tab-container {
    width: 100%;
    border-bottom: 1px solid darkgreen;
}

.tabs-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex: 0 0 20%;
    margin: 10px 10px 0 50px;
}

.tabs-wrapper {
    display: flex;
    flex: 0 0 40%;
    justify-content: center;
}

.search-container {
    display: flex;
    flex: 0 0 20%;
    justify-content: center;
}