.tab-container {
    text-align: center;
    margin: 10px 5px 5px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 27px;
    padding-bottom: 10px;
}

.tabs button {
    font-size: 27px;
    padding: 10px 20px;
    border: 1px solid darkgreen;
    cursor: pointer;
    background-color: transparent;
    color: white
}

.tabs button.active {
    border: 2px solid darkgreen;
    border-bottom: 4px solid darkgreen;
}