.tab-container {
    text-align: center;
    margin: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid forestgreen;
    padding-bottom: 20px;
}

.tabs button {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid forestgreen;
    cursor: pointer;
    background-color: transparent;
}

.tabs button.active {
    border-bottom: 4px solid forestgreen;
}